nav{
    height: 7%;
}

.navbar {
     display: flex;
     flex-direction: row;
     justify-content: center;
     width: 100%;
}

.namecontainer {
     display: flex;
     margin-left: 1%;
     margin-right: 1%;
     justify-content: center;
}

.linkcontainer {
     display: flex;
     margin-left: 3%;
     margin-right: 3%;
     justify-content: center;
}

a.linkicon {
     margin-left: 1%;
}
